*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.top_bar{
    background-color: rgb(44, 208, 69);
    position: fixed;
    top: 0px;
    overflow: hidden;
    z-index: 10000;
    height: 100px;
}
.navbar{
    font-weight: 600;
}
#slider_btn{
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
/* card section..... */
#offer{
    position: relative;
}
#offer::before{
    position: absolute;
    content:  '';
    bottom: -7px;
    background-color: rgb(255, 128, 0);
    height: 5px;
    width: 250px;
    right: 50%;
    transform: translate(50%,50%);
    border-radius: 50px;
}
  /* next section.... */

.bg-imge{
    width: 100%;
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: cover ;
    text-align: center;
}
@media (max-width : 992px) and (min-width: 0px) {
    #search{
        display: none;
    }
    #offer::before{
        width: 0px;
    }
    
}
#service i {
    color : orange;
    transition: all 1s;
}
#service  {
    transition: all 1s;
}
#service:hover{
    background-color: black;
    color: white;
}
.footer{
    background-color: #24262b;
}
